.navbar-shopping {
  justify-content: space-between;
  background: white;
}

.navbar-shopping .navbar-collapse {
  flex-grow: 0;
}


.card-plusbutton {
  position: absolute;
  right: 3%;
  bottom: 1%;
  color:#ee6e73;
  font-size: x-large;
}

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.card{
  width: 342px;
  margin-top: 20px;
}

.card .btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card img {
  max-height: 300px;
  height: 300px;
  width: 340px;
}

.card .card-content {
  margin-left: 10px;
  margin-top: 10px;
}

.cart{
  margin-top:40px;
}

.collection .collection-item{
  display: flex;
  width: 600px;
}

.add-remove {
  display: flex;
  justify-content: end;
  position: relative;
  align-items: last baseline;
  bottom: 60px;
}

.removebutton {
  position: relative;
  justify-content: end;
  top: 5px;

}

.collection-item.checkout .title {
  font-size: 20px;
  font-weight: 500;
  color:#ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  margin-right: 25px;
  height: auto;
  width: 256px; 
}
.item-desc{
  align-self:center;
}

